@import '../styles/variables';

.action {
    text-align: center;
    margin-top: $spacer * 2;

    p {
        margin-top: $spacer;
        color: $brand-grey-light;
    }
}

.success {
    color: $green;
}

.error {
    &,
    p {
        color: $red;
    }
}
