@import '../styles/variables';

.home {
    display: block;

    form {
        margin-bottom: $spacer * 3;
    }

    label {
        height: 0;
        margin: 0;
        visibility: hidden;
    }
}
