@import '../styles/variables';

.results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacer;
    max-width: 100%;

    @media (min-width: $break-point--small) {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
}
