@import '../../styles/variables';

.metaPrimary {
    margin-bottom: $spacer;
}

.copyrightHolder {
    color: $brand-grey-light;
    font-size: $font-size-large;
    border-bottom: 1px solid $brand-grey-lighter;
    margin-bottom: $spacer / 2;
    padding-bottom: $spacer / 2;
}

.metaPrimaryData {
    font-size: $font-size-small;

    span {
        display: block;
        white-space: nowrap;
    }

    @media (min-width: $break-point--small) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
            flex: 0 0 48%;
        }
    }

    @media (min-width: $break-point--medium) {
        span {
            flex: 0;
        }
    }
}

.meta {
    border-top: 1px solid $brand-grey-lighter;
    border-bottom: 1px solid $brand-grey-lighter;
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-top: $spacer;
    margin-bottom: $spacer;
    list-style: none;
    padding-left: 0;

    li {
        width: 100%;
        margin-bottom: $spacer;

        @media (min-width: $break-point--small) {
            display: flex;
            margin-bottom: 0;
        }

        &:before {
            display: none;
        }
    }
}

.metaLabel {
    display: block;

    @media (min-width: $break-point--small) {
        width: 30%;
    }
}

.metaValue {
    display: block;

    &,
    code {
        overflow-wrap: break-word;
    }

    code {
        display: inline;
    }

    @media (min-width: $break-point--small) {
        width: 70%;
    }
}
