@import '../../../styles/variables';

.bondingModule {
  background: $brand-white;
  border-radius: 0.2rem;
}

.tabs {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: .7rem .7rem 0 .7rem;
}

.tab {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: $brand-grey-light;
  text-transform: uppercase;
  font-family: $font-family-button;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  border: none;
  background: transparent;
  margin-right: .1rem;
  font-size: $font-size-small;
  &:focus {
    outline: none;
  }
}

.tab__active {
  composes: tab;
  color: $brand-black;
}