@import '../../../styles/variables';

.loader {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
      content: '';
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $brand-purple;
      border-top-color: $brand-violet;
      animation: spinner .6s linear infinite;
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}