@import '../../../styles/variables';
@import "./chart.module.scss";

.timeline_filter{
    color: $brand-grey-light;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: $font-family-button;
    font-size: .8rem;
    
    :global{
        li{
            padding: .3rem;
            opacity:.6;
            cursor: pointer;

            &:hover{
                opacity:.8;
            }

            &.active{
                color:$brand-black;
                opacity:1;
            }
        }
    }
}
