@import '../../styles/variables';

.metaPrimary {
    margin-bottom: $spacer;
}

.copyrightHolder {
    color: $brand-grey-light;
    font-size: $font-size-large;
    border-bottom: 1px solid $brand-grey-lighter;
    margin-bottom: $spacer / $line-height;
    padding-bottom: $spacer / $line-height;
}

.metaPrimaryData {
    font-size: $font-size-small;
    color: $brand-grey-light;

    > * {
        display: block;
        white-space: nowrap;
    }

    @media (min-width: $break-point--small) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > * {
            flex: 0 0 48%;
        }
    }

    @media (min-width: $break-point--medium) {
        > * {
            flex: 0;
        }
    }
}

.description {
    // respect line breaks from textarea
    white-space: pre-line;
}

.meta {
    border-top: 1px solid $brand-grey-lighter;
    border-bottom: 1px solid $brand-grey-lighter;
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-top: $spacer;
    margin-bottom: $spacer;
    list-style: none;
    padding-left: 0;
    font-size: $font-size-small;

    li {
        width: 100%;
        margin-bottom: $spacer;

        @media (min-width: $break-point--small) {
            display: flex;
            margin-bottom: 0;
        }

        &:before {
            display: none;
        }
    }
}

.metaLabel {
    display: block;

    @media (min-width: $break-point--small) {
        width: 30%;
    }
}

.metaValue {
    display: block;

    &,
    code {
        overflow-wrap: break-word;
    }

    code {
        display: inline;
    }

    @media (min-width: $break-point--small) {
        width: 70%;
    }
}

.metadataActions {
    text-align: right;

    button {
        font-size: $font-size-small;
        margin-left: $spacer;

        &:not(:first-child) {
            color: $brand-grey-light;

            &:hover,
            &:focus {
                color: $brand-pink;
            }
        }
    }
}
