{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": [
            "./tsconfig.json",
            "./client/tsconfig.json",
            "./server/tsconfig.json",
            "./cypress/tsconfig.json"
        ]
    },
    "extends": [
        "oceanprotocol",
        "oceanprotocol/react",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/react",
        "prettier/standard",
        "prettier/@typescript-eslint",
        "plugin:cypress/recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier", "cypress"],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/member-delimiter-style": [
            "error",
            { "multiline": { "delimiter": "none" } }
        ],
        "@typescript-eslint/no-explicit-any": "off"
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true,
        "cypress/globals": true
    },
    "settings": {
        "react": {
            "version": "16.10"
        }
    }
}
