{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "oceanprotocol",
        "oceanprotocol/react",
        "plugin:prettier/recommended",
        "prettier/react",
        "prettier/standard",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/member-delimiter-style": [
            "error",
            { "multiline": { "delimiter": "none" } }
        ]
    },
    "env": {
        "jest": true
    }
}
