language: node_js
node_js: node

services:
  - mongodb

script:
  # - ./scripts/install.sh # runs automatically with npm ci
  - ./scripts/test.sh
  - ./scripts/build.sh

notifications:
  email: false

cache: npm
