@import '../styles/variables';

.home {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > * {
        width: 100%;
    }

    > div > header {
        margin-top: -($spacer);
    }
}
