@import '../styles/variables';

.home {
    display: block;

    form {
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 4;
    }
}

.published {
    margin-top: $spacer * 3;
    margin-bottom: $spacer;

    > div {
        text-align: center;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
}

.subTitle {
    font-size: $font-size-h4;
    color: $brand-grey-light;
    border-bottom: 1px solid $brand-grey-lighter;
    padding-bottom: $spacer / 2;
}
