@import '../styles/variables';

.results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacer * 2;
    max-width: 100%;

    @media (min-width: $break-point--small) {
        grid-template-columns: 2fr 2fr;
    }

    @media (min-width: $break-point--medium) {
        grid-template-columns: 2fr 2fr 2fr;
    }
}
