@import '../../styles/variables';

.home {
    display: block;

    form {
        margin-bottom: $spacer;
    }

    label {
        height: 0;
        margin: 0;
        visibility: hidden;
    }

    // grab the channel teaser on front page
    // stylelint-disable-next-line
    article > div > h2 + div {
        // padding-top: $spacer / 2;
    }

    .mainButtons {
        overflow: hidden;
    }

    .mainButtons .fixed {
        position: fixed;
        top: 85px;
        width: calc(1140px - 4rem);
        height: 60px;
        left: calc((100% - 1140px + 4rem) / 2);
        z-index: 1;
    }

    .mainButtons form input {
        width: 100%;
    }

    .mainButtons form button {
        display: none;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
    }

    .mainButtons form input:focus {
        width: 75%;
    }

    .mainButtons form input:focus + button,
    .mainButtons form input + button:hover {
        display: block;
    }

    .bgVideo {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .groups {
        height: auto;
        overflow: hidden;
    }

    .bountiesContainer {
        width: 100%;
        overflow: hidden;
    }

    .homeSlider {
        height: 60px;
    }

}
