@import '../../styles/variables';

.home {
    display: block;

    form {
        margin-bottom: $spacer * 3;
    }

    label {
        height: 0;
        margin: 0;
        visibility: hidden;
    }

    // grab the channel teaser on front page
    // stylelint-disable-next-line
    article > div > h2 + div {
        padding-top: $spacer / 2;
    }
}
