@import '../../styles/variables';

.header {
    margin-top: $spacer * 5;
    margin-bottom: $spacer;
}

.title {
    margin: 0;
    font-size: $font-size-h2;

    @media (min-width: $break-point--small) {
        font-size: $font-size-h1;
    }

    // category image
    + div:not(.description) {
        margin-bottom: $spacer;
    }
}

.description {
    margin-top: $spacer / 2;
    font-size: $font-size-large;
    color: $brand-white;
}

.imageheader {
    position: relative;

    div {
        margin-top: 0px;
    }

    h1 {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 2.5rem;
        line-height: 1.2;
    }

    h3 {
        margin-top: 30px;
        font-size: 3rem;
    }

    button {
        position: absolute;
        right: 10px;
        top: 100px;
    }

    .followers {
        position: absolute;
        top: 120px;
        left: 10px;
        margin-bottom: 0px !important;
    }
}
