@import '../../styles/variables';

.header {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.title {
    margin: 0;
}

.description {
    margin-top: $spacer / 2;
    font-size: $font-size-large;
}

.titleReverse {
    color: $brand-grey-light;

    span {
        color: $brand-grey-dark;
    }
}
