@import '../../styles/variables';

.header {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.title {
    margin: 0;
    font-size: $font-size-h2;

    @media (min-width: $break-point--small) {
        font-size: $font-size-h1;
    }

    // category image
    + div:not(.description) {
        margin-bottom: $spacer;
    }
}

.description {
    margin-top: $spacer / 2;
    font-size: $font-size-large;
    color: $brand-white;
}

.imageheader {
    position: relative;

    div {
        margin-top: 0px;
    }

    h1 {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }

    button {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.followers {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-bottom: 0px !important;
}
