@import '../../styles/variables';

.areaButton {
    overflow-wrap: break-word;
    word-wrap: break-word;

    > div {
        display: flex;
        height: 100%;
        padding: $spacer;
        border: 1px solid $brand-grey-lighter;
        border-radius: $border-radius;
        background: $brand-white;
        position: relative;
        cursor: pointer;
        font-size: .85rem;
        color: #41474e;

        &:hover,
        &:focus {
            color: inherit;
            border-color: $brand-pink;
            transform: none;
        }

        img {
            width: 100px;
            padding-right: $spacer;
            object-fit: contain;
            align-self: flex-start;
        }

        > div {
            flex: 1 1 auto;
        }
    }

    h1 {
        font-size: $font-size-large;
        margin-top: 0;
    }
}
