@import '../../styles/variables';

.categoryImage {
    height: 91px;
    background-size: 100%;
    background-position: center;
    /* margin-bottom: $spacer / $line-height; */
    background-color: $body-background;
    border-radius: $border-radius;
    overflow: hidden;
    opacity: 1;
    transition: .2s ease-out;
    border: 1px solid $brand-grey-lighter;
    background-repeat: no-repeat;
}

.header {
    composes: categoryImage;
    height: 150px;
    margin-top: $spacer / $line-height;
}

.dimmed {
    composes: categoryImage;
    opacity: .6;
}
