@import '../../styles/variables';

.categoryImage {
    height: 4rem;
    background-size: cover;
    background-position: center;
    margin-bottom: $spacer / $line-height;
    background-color: $body-background;
}
