@import '../../../styles/variables';

$popoverWidth: 18rem;

.popover {
    // position: absolute;
    // top: 1.5rem;
    // right: -($spacer / 3);
    width: $popoverWidth;
    padding: $spacer / 2;
    background: $brand-black;
    border-radius: .1rem;
    border: .1rem solid $brand-grey-light;
    box-shadow: 0 6px 16px 0 rgba($brand-black, .3);
    color: $brand-grey-light;
    font-size: $font-size-small;

    // &:after {
    //     bottom: 100%;
    //     right: 2%;
    //     border: solid transparent;
    //     content: '';
    //     height: 0;
    //     width: 0;
    //     position: absolute;
    //     pointer-events: none;
    //     border-color: transparent;
    //     border-bottom-color: $brand-grey-light;
    //     border-width: 10px;
    //     margin-left: -10px;
    // }
}

.popoverInfoline {
    border-bottom: .05rem solid $brand-grey;
    padding: $spacer / 3 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }

    button {
        font-size: $font-size-small;
    }
}

.accountName {
    composes: popoverInfoline;
    flex-wrap: nowrap;

    // blockies avatar
    canvas {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 20px;
        margin-right: $spacer / 4;
    }
}

.address {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.balance {
    font-size: $font-size-small;
    color: $brand-grey-light;
    margin-left: $spacer / 2;
    white-space: nowrap;

    &:first-child {
        margin-left: 0;
    }
}
