@import '../../../styles/variables';

.handle {
    display: inline-block;
    border: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    margin-left: -1rem;
    padding-right: .5rem;
    cursor: pointer;
    color: $brand-grey-light;
}
