@import '../styles/variables';

.home {
    background: $brand-black;
    color: $brand-white;
    min-height: calc(100vh - #{$page-frame} * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;

    > div {
        text-align: center;
        width: 100%;
    }
}

.form {
    width: 100%;
    background: $brand-grey-lighter;
    margin: 0 auto;
    max-width: 40rem;
    padding: $spacer;
    margin-top: 4rem;

    fieldset {
        border: 0;
        padding: 0;
    }
}
