@import '../styles/variables';

.page {
    margin: 0 auto;
    max-width: 40rem;
    padding: $spacer;
}

.form {
    width: 100%;
    margin-top: 4rem;

    fieldset {
        border: 0;
        padding: 0;
    }
}
