@import '../styles/variables';

.message {
    margin-bottom: $spacer;
    color: $brand-grey;
    padding-left: 2rem;
    position: relative;
    border-bottom: .1rem solid $brand-grey-lighter;
    border-top: .1rem solid $brand-grey-lighter;
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;
}

.account {
    display: inline-block;
    margin-left: $spacer / 8;
    background: none;
}

.status {
    margin-left: -($spacer);
    margin-right: $spacer / 3;
}
