@import '../../styles/variables';

.typeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacer/4;

    @media (min-width: $break-point--small) {
        & > div:first-child {
            grid-column: 1 / span 2;
            height: 100%;
            min-height: 235px;

            img {
                width: 185px;
            }
        }
    }

    @media (max-width: $break-point--small) {
        & > div {
            grid-column: 1 / span 2;
        }
    }

}
