@import '../../styles/variables';

.content {
    display: grid;
    grid-gap: $spacer * 2;
    grid-template-columns: 1fr;

    @media (min-width: $break-point--medium) {
        grid-template-columns: 1fr 3fr;
    }
}
