@import '../../styles/variables';

.content {
    display: grid;
    grid-gap: $spacer * 2;
    grid-template-columns: 1fr;
    margin-top: $spacer * 2;

    @media (min-width: $break-point--medium) {
        grid-template-columns: 3fr 1fr;
    }
}
