@import '../../styles/variables';

.channel {
    width: 100%;

    @media (min-width: $break-point--medium) {
        padding-top: $spacer * 2;
        display: flex;
    }

    > div {
        &:first-child {
            margin-bottom: $spacer;

            @media (min-width: $break-point--medium) {
                margin-right: $spacer;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        @media (min-width: $break-point--medium) {
            flex: 1;

            &:first-child {
                flex: 0 0 calc(18rem + #{$spacer * 2});
            }
        }
    }

    // style channel teaser following another one
    + .channel {
        border-top: 1px solid $brand-grey-lighter;
        margin-top: $spacer * 2;
    }
}

.channelTitle {
    // margin-top: $spacer * 4;
    margin-bottom: $spacer / 4;
    color: $brand-white;

    @media (min-width: $break-point--medium) {
        // margin-top: -($spacer / 4);
    }
}

.channelHeader {
    text-align: center;

    @media (min-width: $break-point--small) {
        text-align: left;
    }

    a {
        display: block;
        position: relative;

        h2 {
            position: absolute;
            top: 50px;
            left: 5px;
        }

        p {
            position: absolute;
            top: 0px;
            text-align: center;
            height: calc(100% - 25px);
            padding-top: 25px;
            margin-bottom: 0px;
            background-color: rgba(0,0,0,0.5);
            display: none;
        }

        a {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #2a2d47;
            color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            z-index: 1;

            &:hover + p {
                display: block;
            }
        }

        div {
            height: 120px;
        }

        &:hover,
        &:focus {
            transform: none;

            // category image
            // stylelint-disable-next-line
            .channelTitle + div {
                opacity: 1;
                background-size: 105%;
            }
        }
    }
}

.channelTeaser {
    color: $brand-white;
    font-size: 14px;
}

.channelResults {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacer;

    @media (min-width: $break-point--small) {
        grid-template-columns: 1fr 1fr;
    }
}
