@import '../../styles/variables';

.openLink {
    margin: 0;
    font-size: $font-size-small !important; // stylelint-disable-line
    margin-left: $spacer / 4;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    flex: 0 0 100%;
    background: $brand-white;
    border: 1px solid $brand-grey-lighter;
    border-radius: $border-radius;
    padding: $spacer $spacer / 1.5;
    font-family: $font-family-base;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    transition: border .2s ease-out;
    margin-bottom: $spacer;

    @media (min-width: $break-point--small) {
        flex-basis: 48%;
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        border-color: $brand-pink;
    }

    span {
        display: block;
        width: 100%;
    }
}

.buttonTitle {
    font-size: $font-size-base;
    margin-bottom: $spacer / 2;
    font-weight: $font-weight-bold;
}

.buttonDescription {
    font-size: $font-size-small;
    color: $brand-grey;
}
