@import '../../styles/variables';

.message {
    margin-bottom: $spacer;
    color: $brand-grey;
    position: relative;
    border-bottom: .1rem solid $brand-grey-lighter;
    border-top: .1rem solid $brand-grey-lighter;
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;
    text-align: left;
}

.warnings {
    padding-left: $spacer;
}

.status {
    margin-left: -($spacer);
    margin-right: $spacer / 2;
    padding: 0;
}
