@import '../../../styles/variables';

.form {
    width: 100%;

    fieldset {
        border: 0;
        padding: 0;
    }
}

.formHeader {
    margin-bottom: $spacer;
}

.formTitle {
    font-size: $font-size-h2;
    margin: 0;
}

.formDescription {
    margin-bottom: 0;
    margin-top: $spacer / 2;
}
