@import '../../../styles/variables';

.inputWrap {
    background: $brand-gradient;
    border-radius: $border-radius;
    width: 100%;
    padding: 2px;
    display: flex;
    position: relative;

    &.isFocused {
        background: $brand-black;
    }
}

.inputWrapSearch {
    composes: inputWrap;

    .input {
        padding-left: $spacer / 1.25;
    }

    svg {
        position: absolute;
        left: $spacer / 3;
        width: 1.25rem;
        height: 1.25rem;
        top: 50%;
        margin-top: -.75rem;
        fill: rgba($brand-grey-light, .7);
    }
}

.input {
    font-size: $font-size-base;
    font-family: $font-family-button;
    color: $brand-black;
    border: none;
    box-shadow: none;
    width: 100%;
    background: $brand-white;
    padding: $spacer / 3;
    margin: 0;
    border-radius: $border-radius;
    transition: .2s ease-out;
    min-height: 43px;
    appearance: none;

    &:focus {
        border: none;
        box-shadow: none;
        outline: 0;
    }

    &::placeholder {
        font-family: $font-family-base;
        font-size: $font-size-base;
        color: $brand-grey-light;
        font-weight: $font-weight-base;
        transition: .2s ease-out;
        opacity: .7;
    }

    &[readonly],
    &[disabled] {
        background-color: $brand-grey-lighter;
        cursor: not-allowed;
        pointer-events: none;
    }

    // &::-webkit-credentials-auto-fill-button,
    // &::-webkit-caps-lock-indicator {
    //     background: $brand-white;
    // }

    // &:-webkit-autofill,
    // &:-webkit-autofill:hover,
    // &:-webkit-autofill:focus {
    //     -webkit-text-fill-color: $brand-white;
    //     box-shadow: 0 0 0 1000px $brand-black inset;
    //     transition: background-color 5000s ease-in-out 0s;
    // }
}

.select {
    composes: input;
    height: 43px;
    padding-right: 3rem;
    border: 0;

    // custom arrow
    // stylelint-disable
    background-image: linear-gradient(45deg, transparent 50%, $brand-purple 50%),
        linear-gradient(135deg, $brand-purple 50%, transparent 50%),
        linear-gradient(
            to right,
            $brand-pink 1px,
            lighten($brand-grey-lighter, 5%) 2px,
            lighten($brand-grey-lighter, 5%)
        );
    background-position: calc(100% - 18px) calc(1rem + 5px),
        calc(100% - 13px) calc(1rem + 5px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5rem 3rem;
    // stylelint-enable
    background-repeat: no-repeat;

    &:focus {
        outline: 0;
        font-family: $font-family-base;
    }
}

// Size modifiers

.inputSmall {
    composes: input;
    font-size: $font-size-small;
    min-height: 32px;
    padding: $spacer / 4;

    &::placeholder {
        font-size: $font-size-small;
    }
}

.selectSmall {
    composes: select;
    height: 32px;
    padding-right: 2rem;

    // custom arrow
    background-position: calc(100% - 14px) 1rem, calc(100% - 9px) 1rem, 100% 0;
    background-size: 5px 5px, 5px 5px, 2rem 3rem;
}
