@import '../../../styles/variables';

.inputGroup {
    display: flex;
    width: 100%;

    > input {
        width: 75%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > button {
        width: 25%;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;

        &:hover,
        &:focus {
            transform: none;
        }
    }
}
