@import '../../styles/variables';

.header {
    margin-bottom: $spacer * 1.5;
    border-bottom: .1rem solid $brand-grey-lighter;
}

.title {
    font-size: $font-size-h2;
    margin: 0;
}

.description {
    margin-top: $spacer / 4;
}

.actions {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid $brand-grey-lighter;
    padding-top: $spacer;
    margin-top: $spacer * 2;

    button:last-child {
        min-width: 12rem;
        margin-left: auto;
    }
}
